@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Courier New', monospace;
  font-weight: 600;
  height: 100%;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#codeBlock {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 85%;
}

#listBlock {
  padding-left: 1rem;
}

@media only screen and (max-width: 1700px) {
  #codeBlock {
    width: 100%;
  }
}

a {
  text-decoration: underline;
  color: green;
}

button:focus {
  outline: 0;
}

/* Main Container */

.mainContainer {
  flex: 1 0 auto;
}

.rightSideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.333333%;
}

.rightSideBarSmall {
  display: flex;
  width: 100%;
  height: 100%;
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

/* Blog Post */
.blogPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid gray;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 0.5rem;
}

.singleBlogPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 0.5rem;
}

.blogPostSelected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 10px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(237, 233, 254);
  margin-top: 0.5rem;
}

.blogPostArr {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: rgba(31, 41, 55);
  border-radius: 0.75rem;
  letter-spacing: 0.025em;
}

/* Jump to post */

.jumpPostWhere {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: white;
  font-size: 1.875rem;
  line-height: 2.25rem;
  background-color: rgba(31, 41, 55);
  border-radius: 0.75rem;
  padding: 1rem;
  letter-spacing: 0.025em;
}

.searchInputStyle {
  text-align: center;
  height: 3rem;
  width: 4rem;
  background-color: rgba(31, 41, 55);
  border-width: 2px;
  border-color: rgba(16, 185, 129);
  border-style: solid;
  border-radius: 0.25rem;
  color: rgba(167, 139, 250);
}

/* About Container */

.aboutContainer {
  background-color: rgba(31, 41, 55);
  color: white;
  border-radius: 0.75rem;
  margin-top: 8rem;
  padding: 2rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

/* More Posts Button */
.noMorePostsBtn {
  height: 4rem;
  width: 14rem;
  border-radius: 0.75rem;
  background-color: rgba(31, 41, 55);
  outline: none;
  color: rgba(252, 211, 77);
  font-weight: bold;
}

.morePostsBtn {
  height: 4rem;
  width: 14rem;
  border-radius: 0.75rem;
  background-color: rgba(31, 41, 55);
  font-weight: bold;
  color: white;
}

.morePostsBtn:hover {
  background-color: rgba(139, 92, 246);
}

/* Header  */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 100%;
  height: 7rem;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: rgba(31, 41, 55);
  color: white;
  flex-shrink: 0;
  height: 9rem;
}
